
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            Admin Area
        </div>
        <div class="card-body">
            This section is used to manage content. Please use tabs above
        </div>
    </div>
</div>