
@{
    ViewBag.Title = "Unauthorised";
}

<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="col-6">
            <div class="alert alert-danger text-center">
                You are not authorised to view this page
                <div class="text-center mt-2" id="aHelp"><div class="btn btn-light btn-sm">I think I should have access</div></div>
                <div id="Help" class="card mt-2" style="display: none;">
                    <div class="card-body">
                        <h5><strong><u>Branch Manager, Assistant Manager</u></strong></h5>
                        <p>Access rights are aligned to your role on STAR. If you get this error message, you are not currently in a valid position and should raise this with your TPC in the first instance. If still not resolved please raise with The Medics.</p>
                        <hr />
                        <h5><strong><u>RM, DD, TPC</u></strong></h5>
                        <p>Please contact <u>STAR@cpwplc.com</u> who will assist you with getting the correct access</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section myScripts{
    <script>
        $(function () {
            $('#aHelp').click(function () {
                $('#Help').slideToggle(350);
            });
        })
    </script>    
}