@model Aion.Areas.WFM.ViewModels.Deployment.SOHBudgetsVm

@{
    var pageSize = 10;
    var pages = Model.Collection.GroupBy(x => x.YearWeek).Count() / pageSize + 1;
    var w = Model.WeekList.OrderBy(x => x).Take(pageSize).ToList();
}

@for (int i = 1; i <= pages; i++)
{
    <div class="row">
        <table class="table table-bordered table-sm table-smtxt" style="width:@(20 + w.Count*8)%">
            <thead class="thead-blue">
                <tr>
                    <th class="text-center">Store</th>
                    @foreach (var item in w)
                    {
                        <th class="text-center">@string.Format("Week {0}", item.ToString().Substring(4))</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var store in Model.StoreList)
                {
                    <tr>
                        <td><small>@string.Format("{0} - {1}", store, Model.StoreTotalSummary.First(x => x.StoreNumber == store).StoreName)</small></td>
                        @foreach (var item in w)
                        {
                            <td class="text-center">@(Model.StoreTotalSummary.FirstOrDefault(x => x.StoreNumber == store && x.YearWeek == item) != null ? Model.StoreTotalSummary.FirstOrDefault(x => x.StoreNumber == store && x.YearWeek == item).OriginalTarget.ToString() : "")</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    w = Model.WeekList.OrderBy(x => x).Skip(pageSize * i).Take(pageSize).ToList();
}
