@model List<Aion.DAL.Entities.WFM_EMPLOYEE_INFO>

<option value="" disabled selected hidden>Select colleague...</option>
@foreach (var item in Model.OrderBy(x => x.Last_Name))
{
    <option value="@string.Format("{0}.{1}.{2}",item.Alternate_ID,item.Last_Name,item.First_Name)">@string.Format("{0}, {1}", item.Last_Name, item.First_Name)</option>
}