@using Aion.ViewModels
@model Aion.Areas.WFM.ViewModels.Deployment.AvlbltySummaryVm

@{
    ViewBag.Title = "Availability";
}

<div class="container-fluid">
    @if (Request.IsAuthenticated)
    {
        <div class="row justify-content-end mb-2">
            <div>
                @Html.Partial("~/Views/Shared/_selectMenu.cshtml")
            </div>
        </div>
    }

    @if (Model.MessageType == MessageType.Error)
    {
        <div class="alert alert-warning text-center"><strong>@Model.Message</strong></div>
    }
    else if (Model.DisplayLevel == 1)
    {
        @Html.Partial("~/Areas/WFM/Views/Deployment/Partials/_AvailabilityStore.cshtml")
    }
    else if (Model.DisplayLevel == 2)
    {
        @Html.Partial("~/Areas/WFM/Views/Deployment/Partials/_AvailabilityRegion.cshtml")
    }
</div>

@section myScripts{
    @if (Model.DisplayLevel == 1)
    {
        <script src="~/Scripts/HeatMap.min.js"></script>
        <script>
            $(function () {
                var coverLoaded = false;

                $('#avlbltyPattern td').hottie({
                    colorArray : [
                        '#f97a86',
                        '#7af97c'
                    ]
                });

                $('#coverContainer').popover({
                    selector: '[rel="popover"]',
                    html: true
                });

                $('#chckCover').click(function () {
                    if (!coverLoaded) {
                        $('#coverContainer').toggle();
                        $.get('/WFM/Deployment/_getCoverColleagues', function (result) {
                            setTimeout(function () {
                                $('#coverContainer').html(result);
                                coverLoaded = true;
                            }, 250);
                        });
                    }
                    else {
                        $('#coverContainer').slideToggle();
                    };
                });
                    
               });
        </script>
    }
}