
@{
    ViewBag.Title = "STAR Handbook";
}

<div class="container-fluid">
    <div class="row justify-content-center mt-4">
        <div class="col-8">
            <div class="card">
                <div class="card-header text-center">
                    <strong>Under construction</strong>
                </div>
                <div class="card-body">
                    <p>We are currently reviewing the structure and content of the STAR handbook to make it more engaging and useful.</p>
                    <p>In the meantime please use your Regional WFM leads, TPCs and the STAR team for any queries and support.</p>
                </div>
            </div>
        </div>
    </div>
</div>