@model Aion.Areas.WFM.ViewModels.RFTP.TimecardSignOffVm

<div class="card">
    <div class="card-header text-center">
        <strong>Timecard Sign Off</strong>
    </div>
    <div class="card-body">
        <strong style="font-size:large;">Week Commencing @Model.weekStart.ToShortDateString()</strong>
        <p>
            <i class="icon ion-clock m-1"></i> All information is shown as live from STAR <u><strong>today</strong></u>.
        </p>
        <p>
            Here the timecard view makes it very easy and provides a real time view of how many timecards per store vs total are signed off, enabling each store % region to deliver 100% by the 3PM deadline.
        </p>
        <p>
            Provided also is full visibility of each stores planning, with guidance showing if a timecard approver is scheduled in store as well as clocked in store to complete timecards. The schedule and clocking data is
            real time for today.
        </p>
        <p>
            If you have outstanding timecards and no STAR user scheduled or clocked in, by exception, your TPC can support on request.
        </p>
        <div class="alert alert-info">
            <strong>Following Bank Holiday periods the timecard sign off deadline is extended to 3PM of the next normal business day.</strong>
        </div>
        <div id="loading" class="row mt-2">
            <div class="col-12">
                <div class="row mx-1 text-center">
                    <strong>Loading data... Please wait. <small>(this should take no more than 20-30 seconds)</small></strong>
                    <div class="progress w-100">
                        <div class="progress-bar progress-bar-striped progress-bar-animated w-100" role="progressbar"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="errorContainer" class="row justify-content-center mt-2 px-0 py-3" style="display:none;">
            <div class="col">
                <strong>Oops...</strong>
                <p>Something went wrong, please try again</p>
                <button class="btn btn-sm btn-info" id="retry">Retry</button>
            </div>
        </div>
        <div id="resultContainer">
            
        </div>
    </div>
</div>