@model Aion.DAL.Entities.OpeningTimesComment

<div class="card card-info mb-1">
    <div class="card-header text-center"><strong>@Model.Datetime</strong></div>
    <div class="card-body text-center">
        <Strong>@Model.Comment</Strong>
    </div>
    <div class="card-footer text-center">Added by : @Model.AddedBy</div>
</div>