body {
    padding-top: 100px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.text-menu{
    color: #337ab7 !important;
}

/* The side navigation menu */
.h-side {
    height: 100vh;
    min-width: 360px; 
    position: fixed; /* Stay in place */
    z-index: 9999; /* Stay on top */
    top: 0;
    right: -360px;
    background-color: #e7e7e7; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 25px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.h-side .list-group-item{
    padding: 0.25rem;
    font-size: 0.75rem;
}

.h-side .form-group{
    margin-bottom:0;
}

.h-side .closebtn {
    font-size: 36px;
}

.h-side.show{
    display: block;
    right: 0px;
}

.tree-container{
    max-height: 73vh;
    overflow-y: auto;
}

.overlay {
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    /* middle layer, i.e. appears below the sidebar */
    z-index: 9998;
}

#login-dp{
    min-width:250px;
    padding:14px 14px 0px;
    overflow: hidden;
}

#login-dp .form-group{
    margin-bottom: 10px;
}

@media(max-width:768px){
    #login-dp{
        background-color:inherit;
        color:#fff;
    }
}

.table th, .table td,
.table thead th{
    vertical-align: middle;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-right: 10px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.adv-label {
    font-size: x-small;
    margin-right: 3px;
    padding-top: 2px;
}

.table .thead-blue th {
  color: #fff;
  background-color: #002249;
  border-color: #fff;
}

.card-accordion .card{
    margin-bottom: 0;
    border-radius: 4px;
}

.card-accordion .card+.card {
    margin-top: 5px;
}

.card-accordion .card-header {
    border-bottom: 0;
    padding: 0;
    margin-bottom: 0;
}

.card-accordion .btn-link{
    font-weight:inherit;
}

.card-danger{
    border-color: #f5c6cb
}

.card-danger>.card-header{
    color: #a94442;
    background-color: #f5c6cb;
    border-color: #ebccd1;
}

.card-warning{
    border-color: #faebcc;
}

.card-warning>.card-header,
.card-warning>.card-footer{
    color: #8a6d3b;
    background-color:#fcf8e3;
    border-color: #faebcc;
}

.card-success{
    border-color: #d6e9c6;
}

.card-success>.card-header{
    color:#3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.card-info{
    border-color: #bce8f1;
}

.card-info>.card-header,
.card-info>.card-footer{
    color: #31708f;
    background-color:#d9edf7;
    border-color: #bce8f1;
}

.table-fixed{
    table-layout:fixed;
}

.hiddenRow {
    padding: 0 !important;
}

.table-chain,
.table-chain > th,
.table-chain > td {
    background-color: #93c6ff; }

.table-division,
.table-division > th,
.table-division > td {
    background-color: #d5e9ff; }


@media (max-width: 1023px) {
    .table-smtxt > tbody > tr > td,
    .table-smtxt > thead > tr > th{
        font-size: 0.8rem;
    }
}

.table-smtxtperm > tbody > tr > td,
    .table-smtxtperm > thead > tr > th{
        font-size: 0.8rem;
    }

select.select-center {
    text-align-last:center;
}

.smallcontainer{
    width:413px; 
    height:223px;
    margin: 0 auto; 
    position:relative;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.wf-header{
    min-height:50px;
    background-color:aliceblue;
    border: 1px #ddd solid;
    border-radius: 5px;
    margin-bottom: 25px;
    padding:5px;    
}

.wf-header .icon{
    font-size:x-large;
    margin:auto 5px;
    line-height:50px;
}

.wf-header .wf-text{
    font-size:large;
    margin:auto 5px;
    line-height: 50px;
}

.badge-wf-red {
  display: inline-block;
  min-width: 10px;
  padding: 4px 4px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: indianred;
  border-radius: 25%;
  margin: -1px 5px;
}

.wf-btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 18px;
  width: 50%;
  color:#fff;
  background-color:#337ab7;
}

.wf-comment-container{
    border:2px #999 solid;
    border-radius:8px;
    background: aliceblue;
    padding: 8px 15px;
    max-height: 650px;
    overflow-y:auto;
}

.wf-comment {
  margin: 10px;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.wf-comment-body{
    padding:4px;
    text-align: center;
}

.depl_Popup{
    padding:5px;
    position: absolute;
    display: none;
    background: #FFF;
    border: 1px solid;
    border-radius: 5px;
}

.table>tbody>tr.table-margin>td{
    background-color:#d9edf7;
}

.table>tbody>tr.table-costs>td{
    background-color:#fcf8e3;
}

.table>tbody>tr.table-total>td{
    background-color:#dff0d8;
}